<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#348488">
    <meta name="msapplication-TileColor" content="#348488">
    <meta name="theme-color" content="#003C53">
    <!-- End of favicon -->

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.3.92/css/materialdesignicons.min.css" />

    {% css_asset_tag global %}
    - /_assets/material-pro/assets/plugins/bootstrap/css/bootstrap.min.css
    - /_assets/style.scss
    - /_assets/material-pro/material/css/colors/blue.css
    {% endcss_asset_tag %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="single-column boxed card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">

            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                   <a href="https://kodgemisi.com" target="_blank"> <img src="/assets/images/logo.png" height="45" width="auto" alt="Kod Gemisi Logo"></a>
                </div>
                <div class="col-md-7 col-4 align-self-center">
                    <div class="d-flex m-t-10 justify-content-end">
                        <a href="https://github.com/kodgemisi">github.com/kodgemisi</a>
                    </div>
                </div>
            </div>

            {{content}}

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer> © {{site.year}} Kod Gemisi Ltd. </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    {% javascript_asset_tag global %}
    - /_assets/material-pro/assets/plugins/jquery/jquery.min.js
    - /_assets/material-pro/assets/plugins/bootstrap/js/popper.min.js
    - /_assets/material-pro/assets/plugins/bootstrap/js/bootstrap.min.js
    - /_assets/material-pro/material/js/jquery.slimscroll.js
    - /_assets/material-pro/material/js/waves.js
    - /_assets/material-pro/material/js/sidebarmenu.js
    - /_assets/material-pro/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js
    - /_assets/material-pro/assets/plugins/sparkline/jquery.sparkline.min.js
    - /_assets/material-pro/material/js/custom.min.js
    {% endjavascript_asset_tag %}
</body>

</html>
